# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# IDE settings
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
*.env
